<div class="purchase-container">
  <div class="alert alert-success" *ngIf="successMessage">
    {{ successMessage }}
  </div>

  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>

  <div class="d-grid gap-2" *ngIf="ticket">
    <button class="btn btn-lg btn-primary" (click)="buyTicket(ticket.id)" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
      Buy Ticket
    </button>
  </div>
</div>